* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.recipe-one {
  width: 800px;
  margin: 18px auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: tomato;
  font-weight: 400;
}

img {
  height: auto;
  width: 200;
  border: 3px ridge black;
}

#recipe-img {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  padding: 20px;
  border: 1px solid blanchedalmond;
  margin: 10 8;
}

h2 {
  text-align: center;
  font-weight: 500;
}

ul li {
  font-weight: 500;
  font-size: 25px;
}
