* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #78c1f3;
  font-weight: bold;
}

.recipe-link {
  text-align: center;
  font-size: 40px;
}

.recipe-link a {
  color: #ef6262;
}
